<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3">
            <div>
                <a href="/posts/new" class="btn btn-lg btn-primary col-12 mb-3">Create New Post</a>
            </div>
            {{#each userPostData}}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Date Posted - {{this.date_created}}</h6>
                        <p class="card-text">{{this.content}}</p>
                        <a href="/posts/edit/{{this.id}}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
